.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.sidebar .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-size: 1rem;
    color: var(--color-text-base);
}

.sidebar .title {
    font-size: 3rem;
    white-space: nowrap;
}

.games-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 10rem;
    width: 100%;
    background-color: transparent;
}

.card {
    composes: button-like from "../../shared/shared.module.css";
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card.selected {
    background-color: var(--color-primary-medium);
}

.card .money-icon {
    width: 1rem;
    height: auto;
    margin-right: -0.75rem;
}

.card .players-icon {
    width: 1rem;
    height: auto;
    margin-right: -0.5rem;
}

.new-game-button {
    composes: button-like from "../../shared/shared.module.css";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    padding: 2px;
}

.new-game-icon {
    stroke: var(--color-hydrogen);
    stroke-width: 0.25rem;
}

.new-game-modal {
    composes: menu-like from "../../shared/shared.module.css";
    gap: 0;
}

.new-game-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.new-game-modal-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.settings-menu-container {
    position: relative;
}

.settings-menu-button {
    width: 1.25rem;
    height: 1.25rem;
    stroke-width: 0.1rem;
}

.settings-menu-content {
    composes: menu-like from "../../shared/shared.module.css";
    position: absolute;
    top: 40%;
    left: -50%;
}

.wallet-connect-button {
    composes: button-like from "../../shared/shared.module.css";
}

.cluster-control {
    composes: button-like from "../../shared/shared.module.css";
}

.cluster-control-label {
    background-color: var(--color-primary-darkest);
    transition-duration: 500ms;
    transition: all;
}

.cluster-control-label-active {
    background-color: var(--color-primary-medium);
    transition-duration: 500ms;
    transition: all;
}

.wallet-balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
}

.advanced-settings-button {
    background-color: transparent;
    display: block;
    border: none;
    color: var(--color-primary-light);
    text-align: left;
    padding: 0;
}

.advanced-settings-button:hover {
    cursor: pointer;
    color: var(--color-primary-lightest);
}
