.hud {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}


.star-status-and-winnings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.abort-switch {
    composes: button-like from "../../shared/shared.module.css";
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.25rem;
}


.ship-log {
    height: 100%;
    max-height: 10rem;
    display: flex;
    width: 20rem;
    flex-direction: column;
    background-color: var(--color-primary-darker);
    padding: 0.25rem;
}


.star-status {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    gap: 1rem;
}


.status-gauge {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.25rem;
}


.status-label {
    width: 65%;
    height: auto;
}


.winnings-icon {
    width: 2rem;
    height: auto;
}


.star-hover-help {
    position: fixed;
    color: var(--color-text-base);
    text-shadow:
        1px 1px var(--color-primary-darkest),
        -1px 1px var(--color-primary-darkest),
        1px -1px var(--color-primary-darkest),
        -1px -1px var(--color-primary-darkest);

    transform: translate(-50%, 100%);
    z-index: 1000;
}

.bucket-button-icon {
    width: 1.5rem;
    height: auto;
    fill: var(--color-primary-medium);
}

.faucet-button {
    background-color: var(--color-money) !important;
    color: var(--color-primary-darker) !important;
    font-weight: 900;
}

.faucet-button:hover {
    background-color: #a2ffa2 !important;
    color: var(--color-primary-medium) !important;
}

.faucet-button:disabled {
    background-color: transparent !important;
    color: var(--color-primary-medium) !important;
}
